@tailwind base;
@tailwind components;
@tailwind utilities;

/* 全域暗黑輸入框 */
.dark-input {
  @apply bg-darkcard border border-darkborder text-white px-3 py-2 rounded-lg outline-none focus:border-primary;
}

/* 全域按鈕 */
.btn-dark {
  @apply px-4 py-2 rounded bg-primary text-white font-semibold hover:shadow-neon transition;
}


